In [28]:
# Import tools
from splinter import Browser
import pandas as pd
import numpy as np
from webdriver_manager.chrome import ChromeDriverManager

In [29]:
# Create empyt DataFrame
AF1 = pd.DataFrame(columns = ['Name', 'Ident', 'Type', 'Latitude', 'Longitude', 'Elevation', 'Country', 'Municipality', 'GPS Code', 'IATA_code', 'Runway_1L', 'Runway_1W', 'Runway_2L', 'Runway_2W', 'Surface', 'Freq_count', 'Airline_count'])
print(AF1)

Empty DataFrame
Columns: [Name, Ident, Type, Latitude, Longitude, Elevation, Country, Municipality, GPS Code, IATA_code, Runway_1L, Runway_1W, Runway_2L, Runway_2W, Surface, Freq_count, Airline_count]
Index: []

In [30]:
# Import URL DataFrame
url_data_sheet = "Resources/Pacific_airfield_test1.csv"

In [15]:
url_surface = pd.read_csv(url_data_sheet)
url_surface

                                                 url surface
0  https://airportdatabase.net/australia/badu-isl...  Sealed

In [18]:
url_df = (url_surface['url'])
print(url_df)

0    https://airportdatabase.net/australia/badu-isl...
Name: url, dtype: object

In [19]:
surface_df = (url_surface['surface'])
print(surface_df)

0    Sealed
Name: surface, dtype: object

In [ ]:
# for loop to select URL from CSV, read table, transform data, write to target(CSV/SQL), close URL, move to next row of CSV.

In [50]:
# Read table
df1 = pd.read_html('https://airportdatabase.net/australia/badu-island-airport-bdd_27355.html')[0]
df1

,Unnamed: 0,Unnamed: 1
0,Badu Island Airport details and information,Badu Island Airport details and information
1,ident:,YBAU
2,type:,small airport
3,NaN,NaN
4,latitude:,-10.14999961853027
5,longitude:,142.17340087890625
6,elevation:,14 ft.
7,continent:,Oceania (OC)
8,iso country:,Australia (AU)
9,ISO Region:,Queensland (AU-QLD)
10,Scheduled Service:,yes
11,GPS Code:,YBAU
12,IATA Code:,BDD
13,wikipedia link:,Badu Island Airport in Wikipedia
14,Badu Island Airport runways,Badu Island Airport runways
15,12/30,2788x0 ft.
16,Badu Island Airport frequencies,Badu Island Airport frequencies
17,CTAF ( CTAF ),120.3 Mhz
18,MISC ( MISC ),116.1 Mhz
19,MISC ( MISC ),119.6 Mhz
20,MISC ( MISC ),126.8 Mhz

In [51]:
df1.columns = ['Col_1', 'Col_2']

In [52]:
df1.loc[0, 'Col_1'] = 'Name'
df1['Col_2'] = df1['Col_2'].str.replace(' details and information', '')
df1

                              Col_1                             Col_2
0                              Name               Badu Island Airport
1                            ident:                              YBAU
2                             type:                     small airport
3                               NaN                               NaN
4                         latitude:                -10.14999961853027
5                        longitude:                142.17340087890625
6                        elevation:                            14 ft.
7                        continent:                      Oceania (OC)
8                      iso country:                    Australia (AU)
9                       ISO Region:               Queensland (AU-QLD)
10               Scheduled Service:                               yes
11                        GPS Code:                              YBAU
12                       IATA Code:                               BDD
13                  wikipedia link:  Badu Island Airport in Wikipedia
14      Badu Island Airport runways       Badu Island Airport runways
15                            12/30                        2788x0 ft.
16  Badu Island Airport frequencies   Badu Island Airport frequencies
17                    CTAF ( CTAF )                         120.3 Mhz
18                    MISC ( MISC )                         116.1 Mhz
19                    MISC ( MISC )                         119.6 Mhz
20                    MISC ( MISC )                         126.8 Mhz

In [53]:
df2 = df1.dropna()
df2

                              Col_1                             Col_2
0                              Name               Badu Island Airport
1                            ident:                              YBAU
2                             type:                     small airport
4                         latitude:                -10.14999961853027
5                        longitude:                142.17340087890625
6                        elevation:                            14 ft.
7                        continent:                      Oceania (OC)
8                      iso country:                    Australia (AU)
9                       ISO Region:               Queensland (AU-QLD)
10               Scheduled Service:                               yes
11                        GPS Code:                              YBAU
12                       IATA Code:                               BDD
13                  wikipedia link:  Badu Island Airport in Wikipedia
14      Badu Island Airport runways       Badu Island Airport runways
15                            12/30                        2788x0 ft.
16  Badu Island Airport frequencies   Badu Island Airport frequencies
17                    CTAF ( CTAF )                         120.3 Mhz
18                    MISC ( MISC )                         116.1 Mhz
19                    MISC ( MISC )                         119.6 Mhz
20                    MISC ( MISC )                         126.8 Mhz

In [54]:
df2['Col_1'] = df2['Col_1'].str.replace(':', '')
df2

C:\Users\drchr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                              Col_1                             Col_2
0                              Name               Badu Island Airport
1                             ident                              YBAU
2                              type                     small airport
4                          latitude                -10.14999961853027
5                         longitude                142.17340087890625
6                         elevation                            14 ft.
7                         continent                      Oceania (OC)
8                       iso country                    Australia (AU)
9                        ISO Region               Queensland (AU-QLD)
10                Scheduled Service                               yes
11                         GPS Code                              YBAU
12                        IATA Code                               BDD
13                   wikipedia link  Badu Island Airport in Wikipedia
14      Badu Island Airport runways       Badu Island Airport runways
15                            12/30                        2788x0 ft.
16  Badu Island Airport frequencies   Badu Island Airport frequencies
17                    CTAF ( CTAF )                         120.3 Mhz
18                    MISC ( MISC )                         116.1 Mhz
19                    MISC ( MISC )                         119.6 Mhz
20                    MISC ( MISC )                         126.8 Mhz

In [55]:
df2['Col_1'] = df2['Col_1'].str.replace('iso ', '')
df2

C:\Users\drchr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                              Col_1                             Col_2
0                              Name               Badu Island Airport
1                             ident                              YBAU
2                              type                     small airport
4                          latitude                -10.14999961853027
5                         longitude                142.17340087890625
6                         elevation                            14 ft.
7                         continent                      Oceania (OC)
8                           country                    Australia (AU)
9                        ISO Region               Queensland (AU-QLD)
10                Scheduled Service                               yes
11                         GPS Code                              YBAU
12                        IATA Code                               BDD
13                   wikipedia link  Badu Island Airport in Wikipedia
14      Badu Island Airport runways       Badu Island Airport runways
15                            12/30                        2788x0 ft.
16  Badu Island Airport frequencies   Badu Island Airport frequencies
17                    CTAF ( CTAF )                         120.3 Mhz
18                    MISC ( MISC )                         116.1 Mhz
19                    MISC ( MISC )                         119.6 Mhz
20                    MISC ( MISC )                         126.8 Mhz

In [56]:
df2['Col_1'] = df2['Col_1'].str.replace('ISO ', '')
df2

C:\Users\drchr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                              Col_1                             Col_2
0                              Name               Badu Island Airport
1                             ident                              YBAU
2                              type                     small airport
4                          latitude                -10.14999961853027
5                         longitude                142.17340087890625
6                         elevation                            14 ft.
7                         continent                      Oceania (OC)
8                           country                    Australia (AU)
9                            Region               Queensland (AU-QLD)
10                Scheduled Service                               yes
11                         GPS Code                              YBAU
12                        IATA Code                               BDD
13                   wikipedia link  Badu Island Airport in Wikipedia
14      Badu Island Airport runways       Badu Island Airport runways
15                            12/30                        2788x0 ft.
16  Badu Island Airport frequencies   Badu Island Airport frequencies
17                    CTAF ( CTAF )                         120.3 Mhz
18                    MISC ( MISC )                         116.1 Mhz
19                    MISC ( MISC )                         119.6 Mhz
20                    MISC ( MISC )                         126.8 Mhz

In [72]:
df2['Col_1'] = df2['Col_1'].str.replace(' Code', '_Code')
df2

C:\Users\drchr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                              Col_1                             Col_2
0                              Name               Badu Island Airport
1                             ident                              YBAU
2                              type                     small airport
4                          latitude                -10.14999961853027
5                         longitude                142.17340087890625
6                         elevation                            14 ft.
7                         continent                      Oceania (OC)
8                           country                    Australia (AU)
9                            Region               Queensland (AU-QLD)
10                Scheduled Service                               yes
11                         GPS_Code                              YBAU
12                        IATA_Code                               BDD
13                   wikipedia link  Badu Island Airport in Wikipedia
14      Badu Island Airport runways       Badu Island Airport runways
15                            12/30                        2788x0 ft.
16  Badu Island Airport frequencies   Badu Island Airport frequencies
17                    CTAF ( CTAF )                         120.3 Mhz
18                    MISC ( MISC )                         116.1 Mhz
19                    MISC ( MISC )                         119.6 Mhz
20                    MISC ( MISC )                         126.8 Mhz

In [57]:
# count frequencies
freq_df = df2.loc[temp_df2['Col_2'].str.contains("Mhz")]
freq_df

            Col_1      Col_2
17  CTAF ( CTAF )  120.3 Mhz
18  MISC ( MISC )  116.1 Mhz
19  MISC ( MISC )  119.6 Mhz
20  MISC ( MISC )  126.8 Mhz

In [58]:
freq_count = len(freq_df)
freq_count

4

In [59]:
Name = df2.loc[df2['Col_1'].str.contains('Name')]
Name

  Col_1                Col_2
0  Name  Badu Island Airport

In [61]:
ID = df2.loc[df2['Col_1'].str.contains('ident')]
ID

   Col_1 Col_2
1  ident  YBAU

In [63]:
type = df2.loc[df2['Col_1'].str.contains('type')]
type

  Col_1          Col_2
2  type  small airport

In [64]:
latitude = df2.loc[df2['Col_1'].str.contains('latitude')]
latitude

      Col_1               Col_2
4  latitude  -10.14999961853027

In [65]:
longitude = df2.loc[df2['Col_1'].str.contains('longitude')]
longitude

       Col_1               Col_2
5  longitude  142.17340087890625

In [67]:
elevation = df2.loc[df2['Col_1'].str.contains('elevation')]
elevation

       Col_1   Col_2
6  elevation  14 ft.

In [68]:
continent = df2.loc[df2['Col_1'].str.contains('continent')]
continent

       Col_1         Col_2
7  continent  Oceania (OC)

In [66]:
country = df2.loc[df2['Col_1'].str.contains('country')]
country

     Col_1           Col_2
8  country  Australia (AU)

In [69]:
region = df2.loc[df2['Col_1'].str.contains('region')]
region

Empty DataFrame
Columns: [Col_1, Col_2]
Index: []

In [73]:
GPS_Code = df2.loc[df2['Col_1'].str.contains('GPS_Code')]
GPS_Code

       Col_1 Col_2
11  GPS_Code  YBAU

In [74]:
IATA_Code = df2.loc[df2['Col_1'].str.contains('IATA_Code')]
IATA_Code

        Col_1 Col_2
12  IATA_Code   BDD

In [89]:
pattern = '[0-9]x[0-9]'
runway = df2['Col_2'].str.contains(pattern, na=False)
runway

0     False
1     False
2     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20    False
Name: Col_2, dtype: bool

In [90]:
runway.columns = ['Col_3'][0]
runway

0     False
1     False
2     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20    False
Name: Col_2, dtype: bool

In [81]:
runway_B = pd.concat([df2, runway], axis=1)
runway_B

                              Col_1                             Col_2  Col_2
0                              Name               Badu Island Airport  False
1                             ident                              YBAU  False
2                              type                     small airport  False
4                          latitude                -10.14999961853027  False
5                         longitude                142.17340087890625  False
6                         elevation                            14 ft.  False
7                         continent                      Oceania (OC)  False
8                           country                    Australia (AU)  False
9                            Region               Queensland (AU-QLD)  False
10                Scheduled Service                               yes  False
11                         GPS_Code                              YBAU  False
12                        IATA_Code                               BDD  False
13                   wikipedia link  Badu Island Airport in Wikipedia  False
14      Badu Island Airport runways       Badu Island Airport runways  False
15                            12/30                        2788x0 ft.   True
16  Badu Island Airport frequencies   Badu Island Airport frequencies  False
17                    CTAF ( CTAF )                         120.3 Mhz  False
18                    MISC ( MISC )                         116.1 Mhz  False
19                    MISC ( MISC )                         119.6 Mhz  False
20                    MISC ( MISC )                         126.8 Mhz  False

In [91]:
runway_B.columns = ['Col_1', 'Col_2', 'Col_3']
runway_B

                              Col_1                             Col_2  Col_3
0                              Name               Badu Island Airport  False
1                             ident                              YBAU  False
2                              type                     small airport  False
4                          latitude                -10.14999961853027  False
5                         longitude                142.17340087890625  False
6                         elevation                            14 ft.  False
7                         continent                      Oceania (OC)  False
8                           country                    Australia (AU)  False
9                            Region               Queensland (AU-QLD)  False
10                Scheduled Service                               yes  False
11                         GPS_Code                              YBAU  False
12                        IATA_Code                               BDD  False
13                   wikipedia link  Badu Island Airport in Wikipedia  False
14      Badu Island Airport runways       Badu Island Airport runways  False
15                            12/30                        2788x0 ft.   True
16  Badu Island Airport frequencies   Badu Island Airport frequencies  False
17                    CTAF ( CTAF )                         120.3 Mhz  False
18                    MISC ( MISC )                         116.1 Mhz  False
19                    MISC ( MISC )                         119.6 Mhz  False
20                    MISC ( MISC )                         126.8 Mhz  False

In [98]:
runway_C = runway_B.loc[runway_B['Col_3'] == True]
runway_C

    Col_1       Col_2  Col_3
15  12/30  2788x0 ft.   True

In [ ]:
df['Col_2'] = df['Col_2'].str.replace(' ft.', '')
df

In [ ]:
# Transpose data table

df##_T = df##.transpose()
def AF_table_trans()

In [ ]:
# Read airfield data into .csv

In [ ]:
# End loop