In [40]:
# Import tools
from splinter import Browser
import pandas as pd
import numpy as np
from webdriver_manager.chrome import ChromeDriverManager

In [41]:
# Create the temporary dataframe
temp_df = pd.DataFrame(columns =['ID', 'GPS_Code', 'name', 'continent', 'country', 'region', 'af_type', 'latitude', 'longitude', 'elevation', 'runway_L', 'runway_W', 'freq_count', 'airline_count'])

In [42]:
# Read HTML table
df1 = pd.read_html("https://airportdatabase.net/vanuatu/tanna-airport-tah_5012.html")[0]

In [43]:
# Rename columns for ease of reading
df1.columns = ['Col_1', 'Col_2']

In [44]:
# Create Name variable
df1.loc[0, 'Col_1'] = 'name'
df1['Col_2'] = df1['Col_2'].str.replace(' details and information', '')

In [45]:
# Clean text; remove "ft."
df1['Col_2'] = df1['Col_2'].str.replace(' ft.', '')

C:\Users\drchr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [46]:
# Clean text; remove colons
df1['Col_1'] = df1['Col_1'].str.replace(':', '')

In [47]:
# Clean text; remove "iso"
df1['Col_1'] = df1['Col_1'].str.replace('iso ', '')

In [48]:
# Clean text; remove "ISO"
df1['Col_1'] = df1['Col_1'].str.replace('ISO ', '')

In [49]:
# Clean text; remove " Code"
df1['Col_1'] = df1['Col_1'].str.replace(' Code', '_Code')

In [50]:
# Remove null row
df2 = df1.dropna()

In [51]:
# count frequencies and navaids
freq_df = df2.loc[df2['Col_2'].str.contains("Mhz")]

In [52]:
# create freq_count variable
freq_count = len(freq_df)

In [53]:
# create name variable
name = df2.loc[df2['Col_1'].str.contains('name')]
name2 = name.iloc[0]['Col_2']

In [54]:
# create ID variable
ID = df2.loc[df2['Col_1'].str.contains('ident')]
ID2 = ID.iloc[0]['Col_2']

In [55]:
# create type variable
af_type = df2.loc[df2['Col_1'].str.contains('type')]
af_type2 = af_type.iloc[0]['Col_2']

In [56]:
# create latitude variable
latitude = df2.loc[df2['Col_1'].str.contains('latitude')]
latitude2 = latitude.iloc[0]['Col_2']

In [57]:
# create longitude variable
longitude = df2.loc[df2['Col_1'].str.contains('longitude')]
longitude2 = longitude.iloc[0]['Col_2']

In [58]:
# create elevation variable
elevation = df2.loc[df2['Col_1'].str.contains('elevation')]
elevation2 = elevation.iloc[0]['Col_2']

In [59]:
# create continent variable
continent = df2.loc[df2['Col_1'].str.contains('continent')]
continent2 = continent.iloc[0]['Col_2']

In [60]:
# create country variable
country = df2.loc[df2['Col_1'].str.contains('country')]
country2 = country.iloc[0]['Col_2']

In [61]:
# create region variable
region = df2.loc[df2['Col_1'].str.contains('Region')]
region2 = region.iloc[0]['Col_2']

In [62]:
# create GPS_code variable
GPS_Code = df2.loc[df2['Col_1'].str.contains('GPS_Code')]
GPS_Code2 = GPS_Code.iloc[0]['Col_2']

In [63]:
# find runway data rows
pattern = '[0-9]x[0-9]'
runway = df2['Col_2'].str.contains(pattern, na=False)

In [25]:
# tag runway data rows in table w/"True"
runway_B = pd.concat([df2, runway], axis=1)
runway_B

,Col_1,Col_2,Col_2
0,name,Tanna Airport,False
1,ident,NVVW,False
2,type,medium airport,False
4,latitude,-19.45509910583496,False
5,longitude,169.22399902343750,False
6,elevation,19,False
7,continent,Oceania (OC),False
8,country,Vanuatu (VU),False
9,Region,Tafea (VU-TAE),False
10,Scheduled Service,yes,False
11,GPS_Code,NVVW,False
12,IATA_Code,TAH,False
13,wikipedia link,Tanna Airport in Wikipedia,False
14,Tanna Airport runways,Tanna Airport runways,False
15,15/33,4035x98,True
16,Tanna Airport frequencies,Tanna Airport frequencies,False
17,AFIS ( VILA FLT SVC ),655.3 Mhz,False
18,CTAF ( CTAF ),120.7 Mhz,False
19,Tanna Airport navaids,Tanna Airport navaids,False
20,White Grass ( WG ),398 Mhz,False
21,Airlines flying from/to Tanna Airport,Airlines flying from/to Tanna Airport,False
22,"Air Vanuatu (NF) ,","Air Vanuatu (NF) ,",False

In [64]:
# Assign column name to runway data tag
runway_B.columns = ['Col_1', 'Col_2', 'Col_3']
runway_B

,Col_1,Col_2,Col_3
0,name,Tanna Airport,False
1,ident,NVVW,False
2,type,medium airport,False
4,latitude,-19.45509910583496,False
5,longitude,169.22399902343750,False
6,elevation,19,False
7,continent,Oceania (OC),False
8,country,Vanuatu (VU),False
9,Region,Tafea (VU-TAE),False
10,Scheduled Service,yes,False
11,GPS_Code,NVVW,False
12,IATA_Code,TAH,False
13,wikipedia link,Tanna Airport in Wikipedia,False
14,Tanna Airport runways,Tanna Airport runways,False
15,15/33,4035x98,True
16,Tanna Airport frequencies,Tanna Airport frequencies,False
17,AFIS ( VILA FLT SVC ),655.3 Mhz,False
18,CTAF ( CTAF ),120.7 Mhz,False
19,Tanna Airport navaids,Tanna Airport navaids,False
20,White Grass ( WG ),398 Mhz,False
21,Airlines flying from/to Tanna Airport,Airlines flying from/to Tanna Airport,False
22,"Air Vanuatu (NF) ,","Air Vanuatu (NF) ,",False

In [65]:
# Select runway data rows
runway_C = runway_B.loc[runway_B['Col_3'] == True]
runway_C

    Col_1    Col_2  Col_3
15  15/33  4035x98   True

In [66]:
runway_C['length'] = ''
runway_C

C:\Users\drchr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    Col_1    Col_2  Col_3 length
15  15/33  4035x98   True

In [39]:
runway_df.index = runway_C.index
runway_df[['Col_1', 'Col_2', 'Col_3']] = runway_C[['Col_1', 'Col_2', 'Col_3']]
runway_df

ValueError: Length mismatch: Expected axis has 0 elements, new values have 1 elements

In [ ]:
# parse runway length/width variables
runway_df[['length', 'width']] = runway_df['length_width'].str.split('x', expand=True)
runway_df

In [ ]:
# Convert runway length/width to float datatype
runway_df['length'] = runway_df['length'].astype('float')
runway_df['width'] = runway_df['width'].astype('float')
runway_df

In [ ]:
# Create runway length/width totals
runway_df.loc['runway_total']= runway_df.sum(numeric_only=True, axis=0)
runway_df

In [ ]:
# Create total runway length variable
runway_L = runway_df.loc['runway_total']['length']
runway_L

In [ ]:
# Create total runway width variable
runway_W = runway_df.loc['runway_total']['width']
runway_W

In [ ]:
# Identify airlines data row
pattern = ' , '
airlines = df2['Col_2'].str.contains(pattern, na=False)

In [ ]:
# tag airline data rows in table w/"True"
airlines_B = pd.concat([df2, airlines], axis=1)

In [ ]:
# Assign column name to runway data tag
airlines_B.columns = ['Col_1', 'Col_2', 'Col_3']

In [ ]:
# Select airline data row
airlines_C = airlines_B.loc[airlines_B['Col_3'] == True]

In [ ]:
# Create airlines Dataframe
airlines_df = pd.DataFrame(airlines_C, columns=['Col_1', 'Col_2', 'Col_3'])

In [ ]:
# Parse airlines data into rows
airlines_df2 = (airlines_df.set_index(['Col_3'])
   .apply(lambda x: x.str.split(',').explode())
   .reset_index())

In [ ]:
# Tag row with null data
airlines_df2['Col_1'].replace('', np.nan, inplace=True)

In [ ]:
# Delete row with null data
airlines_df2.dropna(subset=['Col_1'], inplace=True)

In [ ]:
# Create airline_count variable
airline_count = len(airlines_df2)

In [ ]:
# Write data to temp Dataframe
temp_df.at[0, 'ID'] = ID2
temp_df.at[0, 'GPS_Code'] = GPS_Code2
temp_df.at[0, 'name'] = name2
temp_df.at[0, 'continent'] = continent2
temp_df.at[0, 'country'] = country2
temp_df.at[0, 'region'] = region2
temp_df.at[0, 'af_type'] = af_type2
temp_df.at[0, 'latitude'] = latitude2
temp_df.at[0, 'longitude'] = longitude2
temp_df.at[0, 'elevation'] = elevation2
temp_df.at[0, 'runway_L'] = runway_L
temp_df.at[0, 'runway_W'] = runway_W
temp_df.at[0, 'freq_count'] = freq_count
temp_df.at[0, 'airline_count'] = airline_count
temp_df

In [ ]:
# Convert temp Dataframe to correct data types
temp_df = temp_df.astype({'latitude':'float', 'longitude':'float', 'elevation':'int', 'runway_L':'int', 'runway_W':'int', 'freq_count':'int', 'airline_count':'int'})